/******** MARK: Universal Elements ********/

:root {
    --text-color-primary: #e0e0e0;
    --text-color-hint: #c0e0e0;
    --text-color-accent: #80e0e0;
    --text-color-secondary: #c0c0c0;
    --background-color-primary: #121212;
    --background-color-secondary: #181818;
    --background-color-tertiary: #242424;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
  
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #101010;
    background-color: var(--background-color-primary);
    color: #e0e0e0;
    color: var(--text-color-primary);
    scroll-padding-top: 6rem; /* for Chrome */
}

p {
    font-size: 1.0rem;
    line-height: 1.5;
}

a {
    color: var(--text-color-accent);
    text-decoration: none;
}

/******** MARK: General Custom Classes ********/

.compact-line-height {
    line-height: 1.0;
}

.centered {
    text-align: center;
}

img.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main-width-wrapper, 
.exterior-width-wrapper {
    width: 100%;
    margin: 0 auto 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@supports(padding: max(0px)) {
    .main-width-wrapper, 
    .exterior-width-wrapper {
        padding-left: max(1rem, env(safe-area-inset-left));
        padding-right: max(1rem, env(safe-area-inset-right));
    }
}

.main-width-wrapper {
    max-width: 800px;
}

.exterior-width-wrapper {
    max-width: 960px;
}

.light-text {
    font-weight: 300;
}

.link-disabled {
    opacity: 0.5;
}

.content-img {
    max-width: 100%;
}

.compatibility-hidden {
    display: none;
}

/******** MARK: Specific Custom Classes ********/

#main-content {
    padding: 4rem 0;
    background-color: var(--background-color-secondary);
    overflow: hidden;
}

.bordered-section {
    border-radius: 8px;
    background-color: var(--background-color-tertiary);
    padding: 2rem;
}

.profile-icon {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.social-media-link {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    display: inline-block;
}

.social-media-link img {
    width: 100%;
    display: block;
}

.branding-name-heading {
    font-weight: normal;
    font-size: x-large;
    margin-bottom: 2rem;
    color: var(--text-color-hint);
}
