html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #101010;
  color: #e0e0e0;
}

#skip-to-main-button {
  position: fixed;
  right: -1000px;
  top: -1000px;
}

nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: #0a0a0a;
  padding: 2px 0 2px 0;
}

p {
  font-size: 1.0rem;
  line-height: 1.5;
}

.compact-line-height {
  line-height: 0.9;
}

.centered {
  text-align: center;
}

img.centered {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #80c0e0;
  text-decoration: none;
}

@supports ( -webkit-backdrop-filter: none ) or ( backdrop-filter: none ) {
  nav {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.main-width-wrapper, 
.exterior-width-wrapper {
  width: 100%;
  margin: 0 auto 0 auto;
}

@supports(padding: max(0px)) {
    .main-width-wrapper {
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
}

.main-width-wrapper {
  max-width: 768px;
}

.exterior-width-wrapper {
  max-width: 960px;
}

.nav-left {
  display: inline-block;
  margin-left: 16px;
}

.nav-left-inner {
  /* currently not needed */
}

.nav-right {
  display: inline-block;
  margin-right: 16px;
  float: right;
}

.nav-ul {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin-left: 20px;
}

.nav-image {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}

#nav-profile-picture {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(128, 224, 224, 0.5);
  border-radius: 15px;
  top: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-left .nav-link {
  color: #80E0E0;
}

.light-text {
  font-weight: 300;
}

.link-disabled {
  opacity: 0.5;
}

#nav-right-button {
  display: none;
}

#main-content {
  padding: 60px 20px 40px 20px;
  background-color: #202020;
  overflow: hidden;
}

.content-img {
  max-width: 100%;
}

.compatibility-hidden {
  display: none;
}

footer {
  padding: 15px 20px 40px 20px;
}

.footer-normal {
  color: #808080;
  font-size: 0.9rem;
}

.footer-light {
  color: #606060;
  font-size: 0.9rem;
}

.footer-link {
  text-decoration: none;
  color: #e0e0e0
}

.footer-hr {
  opacity: 0.5;
}
