/******** MARK: Footer ********/

footer {
    padding: 15px 0 40px 0;
}

.footer-normal {
    color: #808080;
    font-size: 0.9rem;
}

.footer-light {
    color: #606060;
    font-size: 0.9rem;
}

.footer-link {
    text-decoration: none;
    color: #e0e0e0
}

.footer-hr {
    opacity: 0.25;
}
